.col-header {
    font-size: 22px;
    font-weight: 600;
}

.content-row {
    font-size: 18px;
}

.applications-table {
    background-color: #141312;
}

.paginator-section {
    background-color: #141312;
    margin-top: 20px;
}
