.col-header {
  font-size: 22px;
  font-weight: 600;
}

.content-row {
  font-size: 18px;
  font-family: "Jetbrains";
}

.applications-table {
  background-color: #141312;
  overflow-x: auto;
}

.paginator-section {
  background-color: #141312;
  margin: 20px 0px 20px 0px;
}

.button-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.add-button {
  font-size: 22px;
  border: 2px solid #daec37;
  border-radius: 4px;
  font-weight: 600;
  width: 200px;
  height: 45px;
  color: #daec37 !important;
  font-family: "Jetbrains", "Helvetica Neue", sans-serif !important;
}

@media only screen and (max-width: 1000px) {
  .col-header {
    font-size: 14px;
  }

  .content-row,
  .paginator-section {
    font-size: 12px;
  }

  .add-button {
    font-size: 16px;
    width: 150px;
    height: 30px;
  }

  .button-container {
    margin: 10px 0px 10px 0px;
  }
}

/* Resize header for screen widths <350px */
@media screen and (max-width: 350px) {
  .button-container {
    margin-top: 100px;
  }
}
