<!-- Content  -->
<table
    class="applications-table"
    mat-table
    [dataSource]="dataSource"
    matSort
    matSortActive="name"
    matSortDirection="asc"
>
    <!-- ANZSCO Code -->
    <ng-container matColumnDef="anzsco">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{resizeTable ? "ANZSCO" : "ANZSCO Code"}}</th>
        <td mat-cell *matCellDef="let element">{{ element.anzsco_code }}</td>
    </ng-container>

    <!-- Date Submitted -->
    <ng-container matColumnDef="date_submitted">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Submitted</th>
        <td mat-cell *matCellDef="let element">{{ resizeTable ? (element.date_submitted | date:'dd/MM/yy') : (element.date_submitted | date:'dd LLL yyyy') }}</td>
    </ng-container>
    
    <!-- Date Received -->
    <ng-container matColumnDef="date_received">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Result</th>
        <td mat-cell *matCellDef="let element">{{ resizeTable ? (element.date_received | date:'dd/MM/yy') : (element.date_received | date:'dd LLL yyyy') }}</td>
    </ng-container>

    <!-- Days Taken -->
    <ng-container matColumnDef="days_taken">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Days</th>
        <td mat-cell *matCellDef="let element">{{ element.days_taken }}</td>
    </ng-container>
    
    <!-- Outcome -->
    <ng-container matColumnDef="outcome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Outcome</th>
        <td mat-cell *matCellDef="let element">{{ element.outcome ? "Positive" : "Negative" }}</td>
    </ng-container>    

    <!-- Stream -->
    <ng-container matColumnDef="stream">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Stream</th>
        <td mat-cell *matCellDef="let element">{{ element.stream }}</td>
    </ng-container>    

    <!-- Location -->
    <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
        <td mat-cell *matCellDef="let element">{{ element.location }}</td>
    </ng-container>

    <tr mat-header-row class="col-header" *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row class="content-row" *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<!-- Pagination for controlling entries per page -->
<mat-paginator class="paginator-section" #paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
