<!-- Theme Toggle -->
<div class="relative inline-block" *ngIf="theme$ | async as theme">
  <input
    type="checkbox"
    id="hs-large-switch-with-icons"
    class="peer relative w-[4.25rem] h-9 p-px border-white border-[1.5px] text-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:ring-primary disabled:opacity-50 disabled:pointer-events-none checked:bg-none checked:text-primary checked:border-primary focus:checked:border-primary bg-on-primary checked:bg-primary dark:focus:ring-offset-gray-600 before:inline-block before:w-8 before:h-8 before:bg-white checked:before:bg-white before:translate-x-0 checked:before:translate-x-full before:rounded-full before:shadow before:transform before:ring-0 before:transition before:ease-in-out before:duration-200"
    (click)="toggleTheme($event)"
    [checked]="theme === 'light'"
  />
  <label for="hs-large-switch-with-icons" class="sr-only">switch</label>
  <span
    class="peer-checked:text-on-primary text-on-primary w-8 h-8 absolute top-0.5 start-0.5 flex justify-center items-center pointer-events-none transition-colors ease-in-out duration-200"
  >
    <span class="material-symbols-outlined"> dark_mode </span>
  </span>
  <span
    class="peer-checked:text-inverse text-base w-8 h-8 absolute top-0.5 end-0.5 flex justify-center items-center pointer-events-none transition-colors ease-in-out duration-200"
  >
    <span class="material-symbols-outlined"> light_mode </span>
  </span>
</div>
