<div class="h-screen w-screen">
  <div class="flex flex-row">
    <app-sidebar></app-sidebar>
    <div class="flex flex-col grow">
      <app-header class="ml-[25px]"></app-header>
      <div class="ml-[50px] mt-[20px]">
        <p class="font-body-regular">
          No signup, no paywall. <br />
          Hear the latest updates straight from other applicants.<br />
          Here are some to start you off:
        </p>
      </div>
      <div class="flex flex-row h-[100%] mt-[40px]">
        <div
          *ngFor="let card of statCards"
          [class]="
            'bg-' +
            card.colour +
            ' flex flex-col w-[100%] items-center space-evenly p-[20px]'
          "
        >
          <div class="flex flex-col items-center">
            <span class="material-symbols-outlined text-8xl mb-[20px]">
              {{ card.icon }}
            </span>
            <h2 class="font-heading-regular">{{ card.header }}</h2>
          </div>
          <div
            class="mb-[40px] mt-[20px] font-body-regular w-[250px] text-center"
          >
            <p>{{ card.text }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-statistics [statsData]="statCards!"></app-statistics>
  <div class="table-container">
    <app-applications-table
      class="applications-table"
      [dataSource]="dataSource"
    ></app-applications-table>
  </div> -->
</div>
