.table-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.applications-table {
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .applications-table {
    overflow-x: scroll;
  }
}
