<div class="h-screen w-screen">
  <div class="flex flex-row">
    <app-sidebar></app-sidebar>
    <div class="flex flex-col grow">
      <app-header class="ml-[25px]"></app-header>
      <div class="ml-[50px] mt-[20px]">
        <p class="font-body-regular">
          No signup, no paywall. <br />
          Hear the latest updates straight from other applicants.<br />
          Here are some to start you off:
        </p>
      </div>
      <app-statistics
        class="flex flex-row h-[100%] mt-[40px]"
        [statsData]="statCards!"
      ></app-statistics>
    </div>
  </div>
  <!-- <app-statistics [statsData]="statCards!"></app-statistics>
  <div class="table-container">
    <app-applications-table
      class="applications-table"
      [dataSource]="dataSource"
    ></app-applications-table>
  </div> -->
</div>
