// src/styles.scss

// Custom Theming for Angular Material

// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@import "@angular/material/theming";
@import "./styling/palettes.scss";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

@include mat-core();

// Define a custom function for building a dark theme
@function create-custom-dark-theme(
  $primary,
  $accent,
  $warn,
  $foreground,
  $background
) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: true,
    foreground: $foreground,
    background: $background
  );
}

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$theming-material-components-primary: mat-palette($mat-indigo);
$theming-material-components-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).

$theming-material-components-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).

$theming-material-components-theme: mat-light-theme(
  $theming-material-components-primary,
  $theming-material-components-accent,
  $theming-material-components-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include angular-material-theme($theming-material-components-theme);

/* You can add global styles to this file, and also import other style files */

// Define dark theme using palettes imported from palettes.scss
$dark-theme-primary: mat.define-palette($primary-palette);
$dark-theme-accent: mat.define-palette($accent-palette);
$dark-theme-warn: mat.define-palette(mat.$yellow-palette);
$dark-theme: create-custom-dark-theme(
  $dark-theme-primary,
  $dark-theme-accent,
  $dark-theme-warn,
  $dark-theme-foreground,
  $dark-theme-background
);

// Apply dark-theme
@include mat.all-component-themes($dark-theme);
@include mat.core-theme($dark-theme);

// Global styles
$panel-border: 1px solid $panel-border-colour;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Jetbrains", "Helvetica Neue", sans-serif !important;
  background: $image-panel-bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mat-mdc-header-row {
  font-family: "Jetbrains", "Helvetica Neue", sans-serif !important;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 60vw;
  background: $image-panel-bg;
}

.dialog {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 600px;
  background-color: #ddd9d4;
  padding: 35px;
  border-radius: 4px;
}

.dialog-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Global styles for material elements */
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background: #ddd9d4 !important;
  color: black !important;
  border: 2px solid black !important;
}

.mdc-line-ripple {
  display: none;
}

.mat-mdc-select-panel {
  background: $image-panel-bg !important;
}

.mdc-list-item__primary-text {
  color: #ffffff !important;
}

.mat-calendar {
  background-color: #141312;
}

.mat-datepicker-input,
.mat-datepicker-toggle,
.mat-mdc-form-field-required-marker {
  color: black !important;
}

.mat-mdc-select-arrow {
  color: inherit !important;
}

/* Ensure dialog form is scrollable for small screen sizes */
.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
  overflow: auto;
  pointer-events: auto;
}

/* Blur the background when the About dialog is opened */
.bgClass {
  filter: blur(20px);
  background-color: #aba1a1;
  opacity: 0.4 !important;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #353535;
}

::-webkit-scrollbar-thumb {
  background: #969595;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 1000px) {
  .app-container {
    width: 100vw;
  }

  .dialog {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 275px;
    background-color: #ddd9d4;
    border-radius: 4px;
    font-size: 12px;
    padding: 10px;
  }

  .dialog-title {
    font-size: 20px;
  }
}

// Snackbar styling
@mixin snackbar-common {
  font-weight: 500;
  font-size: 18px;
  font-family: "Jetbrains";
}

.success-snackbar {
  @include snackbar-common();
  .mat-mdc-snack-bar-label,
  button {
    color: green !important;
  }
}

.failure-snackbar {
  @include snackbar-common();
  .mat-mdc-snack-bar-label,
  button {
    color: red !important;
  }
}
